In [11]:
import pandas as pd
import datetime
import re

In [41]:
df = pd.read_csv('schedule.csv')
df = df.loc[df['summary'] != 'last_updated']
df = df [['calendar', 'summary', 'start', 'end']]
df

,calendar,summary,start,end
0,Uni - Meeting/Misc Uni Work,Weekly Catch-Up w/ Virginie,2022-10-03T10:00:00+08:00,2022-10-03T10:30:00+08:00
1,Uni - Meeting/Misc Uni Work,Weekly Catch-Up w/ Virginie,2022-10-10T10:00:00+08:00,2022-10-10T10:30:00+08:00
2,Uni - Meeting/Misc Uni Work,Weekly Catch-Up w/ Virginie,2022-10-17T10:00:00+08:00,2022-10-17T10:30:00+08:00
3,Uni - Meeting/Misc Uni Work,Weekly Catch-Up w/ Virginie,2022-10-24T10:00:00+08:00,2022-10-24T10:30:00+08:00
4,Uni - Meeting/Misc Uni Work,Weekly Catch-Up w/ Virginie,2022-10-31T10:00:00+08:00,2022-10-31T10:30:00+08:00
5,liamgraneri71@gmail.com,test,2022-09-27T18:30:00+08:00,2022-09-27T19:30:00+08:00
6,liamgraneri71@gmail.com,test #2,2022-09-28T13:15:00+08:00,2022-09-28T14:30:00+08:00

In [34]:
time_regex = '(\d\d\d\d)-(\d\d)-(\d\d)T(\d\d):(\d\d):(\d\d)'
regex_groups = {0:'year', 1:'month', 2:'day', 3:'hour', 4:'minute', 5:'second'}

for moment in ['start', 'end']:
    moment_df = df[['summary', moment]]
    for group, time_obj in regex_groups.items():
        moment_df[time_obj] = pd.to_numeric(moment_df[moment].apply(lambda x: re.search(time_regex, x).groups()[group]))
    moment_df = moment_df.drop(columns=(['summary', moment]))
    print(moment)
    print(moment_df)
    df[f'{moment}_dt'] = pd.to_datetime(moment_df)

df

start
   year  month  day  hour  minute  second
0  2022     10    3    10       0       0
1  2022     10   10    10       0       0
2  2022     10   17    10       0       0
end
   year  month  day  hour  minute  second
0  2022     10    3    10      30       0
1  2022     10   10    10      30       0
2  2022     10   17    10      30       0

/tmp/ipykernel_544111/1426313034.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  moment_df[time_obj] = pd.to_numeric(moment_df[moment].apply(lambda x: re.search(time_regex, x).groups()[group]))
/tmp/ipykernel_544111/1426313034.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  moment_df[time_obj] = pd.to_numeric(moment_df[moment].apply(lambda x: re.search(time_regex, x).groups()[group]))

,calendar,summary,start,end,start_dt,end_dt
0,Uni - Meeting/Misc Uni Work,Weekly Catch-Up w/ Virginie,2022-10-03T10:00:00+08:00,2022-10-03T10:30:00+08:00,2022-10-03 10:00:00,2022-10-03 10:30:00
1,Uni - Meeting/Misc Uni Work,Weekly Catch-Up w/ Virginie,2022-10-10T10:00:00+08:00,2022-10-10T10:30:00+08:00,2022-10-10 10:00:00,2022-10-10 10:30:00
2,Uni - Meeting/Misc Uni Work,Weekly Catch-Up w/ Virginie,2022-10-17T10:00:00+08:00,2022-10-17T10:30:00+08:00,2022-10-17 10:00:00,2022-10-17 10:30:00

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3 entries, 0 to 2
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   calendar  3 non-null      object
 1   summary   3 non-null      object
 2   start     3 non-null      object
 3   end       3 non-null      object
 4   start_dt  3 non-null      datetime64[ns]
 5   end_dt    3 non-null      datetime64[ns]
dtypes: datetime64[ns](2), object(4)
memory usage: 168.0+ bytes

In [ ]:
0